@import "tailwindcss";

@keyframes slide-down {
  0% {
    transform: translate(-50%, -30px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.6s ease-out;
}
